@use "./utilities/index" as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.btn {
	padding: 0.5em 1em;
	border: none;
	border-radius: 2em;
	background-color: $greenColor;
	font-family: $secondaryFont;
	color: $whiteColor;
	cursor: pointer;

	&--cta {
		padding: 1.2em 2.4em;
		border-radius: 1em;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
	}

	&--primary {
		font-weight: 500;
		font-size: 1rem;
		color: $whiteColor;
	}
}

