@use "./utilities/index" as *;
.leeaches {
  position: relative;
  padding: 3em 2em;
  overflow: hidden;
  @include lg {
    padding: 6em 2em;
  }

  @include xl {
    padding: 8em 2em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @include md {
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
    }
  }

  &__right {
    padding-top: 32px;
    width: 100%;
    text-align: center;

    picture + picture img {
      margin-top: 24px;
    }

    @include md {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding-left: 32px;
      padding-top: 0;
    }
  }

  &__about,
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 24px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: $greenColor;
    margin-bottom: 12px;
    @include lg {
      font-size: 20px;
      line-height: 34px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    color: $greyTextColor;
    margin-bottom: 24px;
    @include lg {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__btn {
    margin-top: 12px;

    .btn {
      display: block;
    }
  }

  &__boxes {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include sm {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    @include xl {
      gap: 32px;
    }

    &-box {
      position: relative;
      font-size: 0px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 5px;
      max-width: 350px;
      &::after {
        position: absolute;
        content: "";
        background: linear-gradient(135deg, #12c3cc, #00adef);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        transition: opacity 0.3s ease-in;
      }

      &:hover {
        &::after {
          opacity: 0.9;
        }

        img {
          transform: scale(1.1);
        }
      }

      @include sm {
        flex: 0 0 calc(50% - 16px);
        max-width: 350px;
      }
      @include md {
        flex: 0 0 calc(33.333333% - 16px);
      }
      @include xl {
        flex: 0 0 calc(25% - 24px);
      }
    }
  }

  &__box {
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: white;
      font-weight: 600;
      text-align: center;
      z-index: 2;
    }

    &-img {
      transition: transform 0.3s ease-in;
    }
  }

  &__item {
    display: flex;
    gap: 24px;

    &-icon {
      padding-top: 6px;
    }

    &-title {
      font-size: 20px;
      line-height: 34px;
      color: #6ea324;
      margin-bottom: 12px;

      &--black {
        color: #404040;
        margin: 0;
      }
    }

    &-desc {
      font-size: 16px;
      line-height: 26px;
      color: #404040;

      p + p {
        margin: 12px 0;
      }
    }
  }

  &__item + &__item {
    margin: 12px 0;
  }

  q {
    display: block;
    margin: 12px 0;
    font-weight: 600;
  }

  &__fulltext {
    padding-bottom: 48px;
  }

  .mb24 {
    margin-bottom: 24px;
  }

  .mt24 {
    margin-top: 24px;
  }

  .tc {
    text-align: center;
  }

  &__special {
    padding: 32px 0;
    margin: 32px 0;
    font-size: 16px;
    line-height: 26px;

    &-summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 0;
      p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 32px;
        font-weight: 600;
        color: $greenColor;
      }
    }
  }

  &__container {
    display: flex;
    gap: 48px;
    padding-top: 32px;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }

  &__table {
    width: 100%;
    @include md {
      width: calc(50% - 24px);
    }
  }

  &__profit {
    position: relative;
    // border-bottom: 1px solid #c1c1c1;

    &-head {
      background-color: #0391bb;
      padding: 12px;
      color: white;
      font-size: 16px;
      line-height: 26px;
      border-radius: 5px;
      margin-bottom: 12px;
    }

    &-list {
      padding-left: 32px;
      max-height: 150px;
      overflow: hidden;
      transition: all 0.3s ease;

      &--show {
        margin-bottom: 64px;
      }
    }

    &-item {
      font-size: 16px;
      line-height: 26px;
      padding: 4px 0;
      color: #686868;
    }

    &-overlay {
      background: linear-gradient(0deg, #ffffff, hsl(0deg 0% 100% / 80%));
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60px;
      opacity: 1;
      transition: opacity 0.3s ease-in;

      &--show {
        opacity: 0;

        + button {
          bottom: -32px;
        }
      }
    }

    &-btn {
      position: absolute;
      bottom: 0;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      color: #6ea324;
      transition: color 0.3s ease-in;
      width: 100%;
      text-align: center;

      &:hover {
        color: #0391bb;
      }
    }
  }

  &__profit + &__profit {
    margin-top: 40px;
  }

  &__contraindications {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 24px;

    &-box {
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: 24px;
    }
    &-desc {
      font-size: 16px;
      line-height: 26px;
      color: #404040;
      text-align: center;
      margin-bottom: 24px;
    }
  }
}
