$whiteColor: #ffff;
$blackColor: #000000;
$lightBlackColor: #1d1d1b;
$greyColor: #f6f6f6;
$greenColor: #6ea324;
$lightGreenColor: rgba(110, 163, 36, 0.75);
// $blueColor: #0391bb;
$blueColor: #006785;
$greyTextColor: #686868;

$greenGradient: linear-gradient(
	120deg,
	rgba(132, 250, 176, 0.95) 0%,
	rgba(143, 211, 244, 0.65) 100%
);

// $test: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$test: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
