$whiteColor: #ffff;
$blackColor: #000000;
$lightBlackColor: #1e1e1e;
$greyColor: #eeeeee;
$greenColor: #6ea324;
$blueColor: #0391bb;
$greyTextColor: #686868;

$greenGradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
