@use "../utilities/index" as *;

.about_page {
	position: relative;
	padding: 3em 2em;

	@include lg {
		padding: 6em 2em;
	}

	&__image {
		width: 100%;
		margin-bottom: 1em;
		border-radius: 0.5em;

		@include md {
			margin: 0em;
			object-fit: cover;
			height: 100%;
		}
	}

	&__person-container {
		overflow: hidden;
		margin-top: 2em;
		@include md {
			margin-top: 3em;
		}

		@include xxl {
			margin-top: 4em;
		}
	}

	&__person {
		@include flex(column-reverse);
		margin-bottom: 2em;

		@include md {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: stretch;
			&-second {
				margin-top: 6em;
				flex-direction: row-reverse;
				@include lg {
					margin-top: 8em;
				}

				@include xl {
					margin-top: 12em;
				}
			}
		}
	}

	&__person-text {
		margin-bottom: 1em;
		color: $greyTextColor;

		@include md {
			width: 50%;
		}
	}

	&__person-img {
		position: relative;
		@include md {
			width: 40%;

			&::after {
				content: "";
				position: absolute;
				left: -10px;
				bottom: -10px;
				width: 100%;
				height: 100%;
				z-index: -10;
				background-color: $blueColor;
				border-radius: 0.5em;

				@include lg {
					left: -12px;
					bottom: -12px;
				}

				@include xxl {
					left: -16px;
					bottom: -16px;
				}
			}
		}
	}

	&__person-name {
		font-family: $secondaryFont;
		font-size: $smallFont;
		color: $greenColor;
		margin-bottom: 0.5em;
		font-weight: 500;

		@include xl {
			font-size: 1.7rem;
		}

		@include xxl {
			font-size: 1.9rem;
		}
	}

	&__person-paragraph {
		font-size: $smallestFont;
		margin: 0.8em 0em;
		text-align: justify;

		@include xl {
			font-size: 1.1rem;
		}

		@include xxl {
			font-size: 1.2rem;
		}

		&-last {
			margin-bottom: 2em;
		}
	}
}

.certificate {
	position: relative;
	padding: 0em 2em;
	@include md {
		padding: 4em 2em;
	}
	@include xl {
		padding: 6em 2em;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-gap: 0.8em;
		margin: 2.8em 0em;

		@include xl {
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 180px;
		border-radius: 0.5em;
		object-fit: cover;

		@include md {
			height: 240px;
		}

		@include lg {
			height: 260px;
		}

		@include xl {
			height: 240px;
		}
	}
}

.advantages {
	position: relative;
	padding: 6em 2em;
	background-color: $greyColor;

	&__cards {
		@include flex(column);
		margin-top: 2em;
		padding-bottom: 6em;

		@include md {
			flex-wrap: wrap;
			flex-direction: row;
		}

		@include lg {
			padding-bottom: 10em;
		}

		@include xl {
			padding-bottom: 12em;
		}

		@include xxl {
			padding-bottom: 18em;
		}
	}

	&__card {
		background-color: $whiteColor;
		box-shadow: rgb(237 238 239) 0px 0px 10px 4px;
		margin-bottom: 2em;

		@include md {
			width: calc(50% - 2em);
			margin: 1em;
		}

		@include lg {
			width: calc(33.33% - 2em);
		}

		&-body {
			padding: 2em;
			display: flex;
			flex-direction: column;
			height: 100%;
			@include lg {
				padding: 2.2em;
			}
		}

		&-head {
			@include flex(row, center, space-evenly);
			width: 100%;
			margin-bottom: 1em;
		}

		&-title {
			font-family: $secondaryFont;
			color: $greenColor;
			font-size: 1.2rem;
			font-weight: 500;

			@include xl {
				font-size: 1.3rem;
			}
		}

		&-paragraph {
			color: $greyTextColor;
			font-size: $smallestFont;

			@include xl {
				padding: 1em;
			}

			@include xxl {
				font-size: 1.1rem;
			}
		}

		&-icon {
			fill: $blueColor;
			height: 36px;
		}
	}
}
