@use "../utilities/index" as *;

.consultation {
  position: relative;
  padding: 4em 2em;

  @include lg {
    padding: 6em 2em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &__box {
    &-left {
      flex: 0 0 100%;
      @include md {
        flex: 0 0 60%;
      }
    }

    &-right {
      @include md {
        position: sticky;
        top: 100px;
        height: 100%;
      }
    }

    @include md {
      display: flex;
      gap: 24px;
    }
    @include lg {
      gap: 32px;
    }
  }
  &__box {
    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: $greenColor;
      margin-bottom: 12px;
      @include lg {
        font-size: 20px;
        line-height: 34px;
      }
    }
    &-desc {
      font-size: 14px;
      line-height: 20px;
      color: $greyTextColor;
      margin-bottom: 24px;
      @include lg {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 18px;

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;

      svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
    &-name {
      font-size: 16px;
      line-height: 26px;
      color: #404040;
    }
  }
}

.question {
  position: relative;
  padding: 4em 2em;
  background-color: #fbfbfb;

  @include lg {
    padding: 6em 2em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-size: 1.7rem;
    color: #404040;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    @include lg {
      margin-bottom: 42px;
    }
  }

  &__left {
    &-text {
      font-size: 16px;
      line-height: 24px;
      color: $greyTextColor;
      margin-bottom: 24px;
    }
    @include md {
      flex: 0 0 50%;
    }
  }

  &__inner {
    @include md {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    @include lg {
      gap: 32px;
    }
  }

  &__scope {
    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: $greenColor;
      margin-bottom: 12px;
      @include lg {
        font-size: 20px;
        line-height: 34px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding-bottom: 24px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 18px;
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      border: 1px solid #999999;
      border-radius: 50%;
      color: #006785;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }
    &-text {
      font-size: 16px;
      line-height: 26px;
      color: #404040;
    }
  }

  &__right {
    &-card {
      display: flex;
      flex-direction: column;
      border: 1px solid #b3b3b3;
      border-radius: 20px;
      overflow: hidden;
      max-width: 600px;
      margin: 0 auto;

      @include xl {
        max-width: 500px;
      }
    }
  }

  &__card {
    &-image {
      font-size: 0;
    }
    &-body {
      display: flex;
      flex-direction: column;
      padding: 24px 16px;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: $greenColor;
      margin-bottom: 12px;
      @include lg {
        font-size: 20px;
        line-height: 34px;
      }
    }

    &-price {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: $blueColor;
      margin-bottom: 12px;
      text-align: center;
      text-transform: uppercase;
      @include lg {
        font-size: 20px;
        line-height: 34px;
      }
    }

    &-cta {
      a {
        display: block;
        text-align: center;
      }
    }
  }
}

.profit {
  position: relative;
  padding: 4em 2em;
  color: #404040;
  @include lg {
    padding: 6em 2em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: 42px;

    @include md {
      flex-direction: row;
      gap: 24px;
    }
    @include lg {
      gap: 48px;
    }
    @include xl {
      gap: 92px;
    }
  }

  &__right {
    @include md {
      flex: 0 0 60%;
      max-width: 600px;
    }
  }

  &__left {
    @include md {
      position: sticky;
      top: 100px;
      height: 100%;
    }
  }

  &__title {
    font-size: 1.5rem;
    color: #404040;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    @include lg {
      margin-bottom: 42px;
    }
  }

  &__icon {
    position: relative;
    width: 18px;
    height: 2px;
    background-color: #1d1d1b;

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #1d1d1b;
      transform: rotate(90deg);
      transition: opacity 0.3s ease;
    }
  }

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__accordion {
    border-bottom: 1px solid #d0d0d0;
    padding: 24px 14px;
    transition: background-color 0.3s ease-in-out;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      color: $greenColor;
      margin-bottom: 16px;
      cursor: pointer;
    }

    &-content {
      font-size: 16px;
      line-height: 26px;
      display: none;

      &.show {
        display: block;
      }
    }
    &.show {
      background-color: #fbfbfb;

      .profit {
        &__icon {
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}
.opinions {
  position: relative;
  padding: 4em 2em 12em;
  @include lg {
    padding: 6em 2em 18em;
  }

  &__carousel {
    margin-top: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #144f60;
    border-radius: 20px;
    padding: 32px 48px;
    height: 100%;
  }

  &__right {
    font-size: 14px;
    line-height: 20px;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-person {
      margin-top: 12px;
      font-weight: 600;
    }
  }
}
