@use "../utilities/index" as *;
.header {
  position: relative;
  overflow: hidden;
  padding-top: 48px;
  background-color: #fbfbfb;
  z-index: 0;

  @include md {
    padding-top: 68px;
  }

  @include lg {
    padding-top: 88px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 46px;

    @include md {
      gap: 58px;
    }

    @include lg {
      flex-direction: row;
      gap: 32px;
      justify-content: space-between;
    }
  }

  &__left {
    padding: 0px 16px;

    &-content {
      max-width: 500px;
      margin: 0 auto;

      @include xl {
        max-width: unset;
        margin: 0;
      }
    }

    &-title {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 42px;
      font-weight: 700;
      color: #006785;
      margin-bottom: 8px;

      @include sm {
        font-size: 34px;
        line-height: 42px;
      }

      @include xl {
        font-size: 38px;
        line-height: 52px;
      }
    }
    &-subtitle {
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
      color: $lightBlackColor;

      @include sm {
        font-size: 20px;
        line-height: 32px;
      }

      @include xl {
        font-size: 22px;
        line-height: 38px;
      }
    }

    &-text {
      font-size: 12px;
      text-align: justify;
      margin: 14px 0px 32px 0px;
      line-height: 18px;
      font-weight: 400;

      @include sm {
        font-size: 14px;
        line-height: 22px;
      }
    }

    @include lg {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__right {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% + 55px);
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: -50%;
      background-color: #8ed9ec;
      z-index: -10;

      @include md {
        max-width: 702px;
        height: calc(100% + 110px);
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    &-image {
      width: 100%;
      height: auto;
      vertical-align: bottom;

      @include md {
        width: unset;
      }

      @include lg {
        width: 100%;
      }
    }

    @include md {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include lg {
      width: 45%;
    }
  }
}
