@use "../utilities/index" as *;

.navigation {
	position: sticky;
	top: 0;

	&__nav {
		padding: 1em;
		@include flex(row, center, space-between);
	}

	&__logo-img {
		z-index: 100;
	}

	&__box {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		background-color: $whiteColor;
		transform: translate(200%);
		transition: transform 0.2s ease-out;
		z-index: -9999;

		@include lg {
			position: relative;
			transform: translate(0%);
			background: none;
			width: 80%;
		}

		&--active {
			transform: translate(0%);
		}
	}

	&__second-box {
		position: relative;
		padding: 10em 1em;
		@include lg {
			padding: 0;
		}
	}

	&__third-box {
		@include flex(column);
		margin-top: 2em;
		@include lg {
			flex-direction: row;
			margin: 0;
		}
	}

	&__social-box {
		margin-top: 1.5em;
	}

	&__links {
		@include flex(column);
		transform: translate(200%);
		list-style: none;
		font-family: $secondaryFont;
		transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		z-index: 99;

		@include lg {
			position: relative;
			transform: translate(0%);
			@include flex();
		}

		&--active {
			transform: translate(0%);
		}
	}

	&__link {
		padding: 0.6em 0.5em;
		border-bottom: 1px solid #6ea324;
		width: 60%;
		@include flex(column, flex-start, flex-start);
		@include lg {
			width: auto;
			border-bottom: none;
		}
	}

	&__link:nth-last-child(2) {
		border-bottom: none;
	}

	&__link-dropdown {
		width: 100%;
		@include flex(row, center, space-between);
	}

	&__single-link {
		padding: 0.2em;
		text-decoration: none;
		font-size: 1.6rem;
		color: $lightBlackColor;
	}

	&__links-dropdown {
		@include flex(column);
		list-style: none;
		font-family: $secondaryFont;
		padding: 1em 0em 0em 1em;
		display: none;

		&--active {
			display: block;
		}
	}

	&__link-drop {
		padding: 0.4em;
	}

	&__single-link-drop {
		color: $lightBlackColor;
		font-size: 1rem;
		text-decoration: none;
	}
}

//burger button

.burger-btn {
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	@include lg {
		display: none;
	}

	&:focus {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&__box {
		position: relative;
		height: 30px;
		width: 45px;
	}

	&__box-bars::after,
	&__box-bars::before {
		position: absolute;
		content: "";
		right: 0;
		background-color: $blackColor;
		height: 4px;
		width: 100%;
		transition: width 0.3s ease-in;
	}

	&__box-bars::after {
		width: 100%;
		top: 11px;
	}

	&__box-bars::before {
		bottom: 4px;
	}

	&__box-bars {
		height: 4px;
		width: 100%;
		background-color: $lightBlackColor;

		&--active {
			&::after {
				width: 75%;
			}

			&::before {
				width: 50%;
			}
		}
	}
}
