@use "../utilities/index" as *;

nav {
	height: 80px;
	// background-color: rgb(136, 65, 65);
}

.navigation {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;

	&__logo-img {
		position: relative;
		padding: 0.2em 0em;
		z-index: 101;
	}

	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-family: $secondaryFont;
		font-size: $smallFont;
		list-style: none;
		@include flex(column);
		transform: translateX(800%);
		transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		z-index: 99;

		&--active {
			// height: 100vh;
			background-color: $greyColor;
			transform: translateX(0%);
			overflow: hidden;
		}
	}

	&__nav-drop {
		font-family: $secondaryFont;
		font-size: 1rem;
		list-style: none;
		@include flex(column, flex-start);
		margin-left: 0.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: none;

		&--active {
			display: block;
		}
	}

	&__link {
		padding: 0.4em;
		border-bottom: 1px solid $greenColor;
		width: 65%;
		text-align: left;
		@include flex(column, flex-start, space-between);
	}

	&__link-drop {
		padding: 0.2em;
	}

	&__link-drop-box {
		width: 100%;
		@include flex(row, center, space-between);
	}

	&__link:nth-last-child(3) {
		border-bottom: none;
		margin-bottom: 2.5em;
	}

	&__item {
		padding: 0.2em;
		text-decoration: none;
		color: $blackColor;
	}

	&__social-box {
		@include flex;
		margin-top: 0.7em;

		&-icon {
			margin-right: 0.5em;
		}

		&-icon:last-child {
			margin: 0;
		}
	}
}

//burger button

.burger-btn {
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&__box {
		position: relative;
		height: 30px;
		width: 45px;
	}

	&__box-bars::after,
	&__box-bars::before {
		position: absolute;
		content: "";
		right: 0;
		background-color: $blackColor;
		height: 4px;
		width: 100%;
		transition: width 0.3s ease-in;
	}

	&__box-bars::after {
		width: 100%;
		top: 11px;
	}

	&__box-bars::before {
		bottom: 4px;
	}

	&__box-bars {
		height: 4px;
		width: 100%;
		background-color: $lightBlackColor;

		&--active {
			&::after {
				width: 75%;
			}

			&::before {
				width: 50%;
			}
		}
	}
}
