@use "../utilities/index" as *;

.service {
  position: relative;
  padding: 3em 2em;
  overflow: hidden;
  @include lg {
    padding: 6em 2em;
  }

  @include xl {
    padding: 8em 2em;
  }

  &__section {
    @include md {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      @include md {
        flex: 0 0 calc(100% - 320px);
      }
      @include lg {
        flex: 0 0 calc(100% - 420px);
      }
    }

    &-right {
      text-align: center;
      img {
        margin-top: 24px;
      }

      & img + img {
        margin-top: 12px;
      }
      @include md {
        flex: 0 0 300px;
        img {
          margin-top: 0;
        }
      }
      @include lg {
        flex: 0 0 400px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: baseline;
    }
  }

  &__container {
    margin-top: 2em;

    @include md {
      justify-content: space-between;
    }
    @include lg {
      margin-top: 3em;
    }

    @include xl {
      margin-top: 4em;
    }
  }

  &__block {
    @include flex(column);

    @include lg {
      flex-direction: row;
    }

    @include xl {
      align-items: flex-start;
    }

    &-text {
      @include lg {
        margin-right: 4em;

        &--full {
          width: 100%;
        }
      }
    }

    &-paragraph {
      font-size: $smallestFont;
      color: $greyTextColor;
      padding-bottom: 1em;

      &--bold {
        font-weight: 700;
      }

      @include lg {
        font-size: 1.1rem;
      }

      @include xl {
        font-size: 1.2rem;
      }
    }

    &-title {
      font-family: $secondaryFont;
      font-size: 1.2rem;
      color: $greenColor;
      font-weight: 600;
      margin: 1.4em 0em 1.2em 0em;

      @include lg {
        font-size: 1.3rem;
      }

      @include xl {
        font-size: 1.4rem;
      }
    }

    &-img {
      display: none;
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
      border-radius: 5px;

      & + img {
        margin-top: 32px;
      }
      @include md {
        display: block;
      }
      &--mobile {
        display: block;
        margin: 0 auto;
        @include md {
          display: none;
        }
      }
    }
  }

  &__list {
    margin-left: 1em;
    font-size: $smallestFont;

    @include lg {
      width: 50%;
    }

    &-container {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      @include md {
        flex-direction: row;
      }
    }

    &--gap {
      margin-right: 1em;

      @include md {
        margin-right: 4em;
      }
    }

    @include lg {
      font-size: 1.1rem;
    }

    @include xl {
      font-size: 1.2rem;
    }

    &-item,
    ::marker {
      color: $blueColor;
    }

    &-item {
      color: $greyTextColor;
    }
  }
}

.call {
  position: relative;
  padding: 4em 2em 12em 2em;

  @include lg {
    padding-bottom: 14em;
  }

  @include xl {
    padding-bottom: 16em;
  }

  @include xxl {
    padding-bottom: 22em;
  }
}

.pt32 {
  padding-top: 32px;
}
